body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.main {
  padding: 50px;
  text-align: center;
}

.land-container {
  display: inline-block;
  display: none;
  transform: perspective(1000px) rotateX(60deg);
  transform-style: preserve-3d;
}

.land {
  display: inline-block;
  transform: rotateZ(45deg);
  transform-style: preserve-3d;
}

.land-row {
  white-space: nowrap;
}

.land-cell {
  width: 50px;
  height: 50px;
  background: #999;
  border-radius: 5px;
  display: inline-block;
  margin: 1px;
  transition: all 1s;
  cursor: pointer;
  transform-style: preserve-3d;
}

.land-cell:hover {
  transform: translateZ(1px);
  background: #ccc;
  transition: all 0.1s;
}

.land-cell:hover .cell-button {
  display: block;
}

.cell-button {
  display: none;
  position: absolute;
  background: #666;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  transform: rotateX(-90deg) rotateY(45deg) translateX(35px) translateZ(20px);
  transform-origin: bottom;
  transition: transform 0.1s;
}

.cell-button:hover {
  transform: rotateX(-90deg) rotateY(45deg) translateX(35px) translateZ(20px) scale(1.1);
}
