<html>

<head>
<title>MHW armor skills</title>
<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div id="mount"></div>
	<template id="component-sockets">
		<div class="sockets">
			<template v-for="value in sockets">
				<div v-if="value === 1" class="socket small"></div>
				<div v-if="value === 2" class="socket medium"></div>
				<div v-if="value === 3" class="socket big"></div>
			</template>
		</div>
	</template>
	<template id="main-app">
		<div class="main-app">
			<div class="equipped-skills">
				<span v-if="Object.keys(equippedSkills) < 1">Equipped skills: none!</span>
				<div>
					<template v-for="(level, skill) in equippedSkills">
						<div class="skill-item" @click="search(skill)">
							{{ skill }} {{ level }}
						</div>
						<br/>
					</template>
				</div>

				<div class="query-controls">
					<label>
						Low Rank
						<input type="checkbox" v-model="lowRank">
					</label>
					<br/>
					<label>
						High Rank
						<input type="checkbox" v-model="highRank">
					</label>
					<br/>
					<label>
						Search
						<input type="text" v-model="searchQuery">
					</label>
				</div>
			</div>
			<div class="armors">
				<div class="armor-slot" v-for="slot in Object.keys(equipper)">
					<div class="equipped-slot">
						<template v-if="equipper[slot]">
							<span :title="equipper[slot].name" @click="unequip(slot)">
								{{ equipper[slot].name }}
							</span>
							<sockets :sockets="equipper[slot].sockets"></sockets>
						</template>
					</div>
					<div class="armor-pool">
						<div class="armor-piece"
							v-for="item in armorBySlot(slot)"
							v-if="!(equipper[slot] && item.name === equipper[slot].name)"
							@click="equip(item)"
						>
							<div class="armor-skill"
								v-for="skill in item.skills"
								:style="{
									display: exactMatch(skill.name) ? 'block' : ''
								}"
							>
								{{ skill.name }} {{ skill.level }}
							</div>
							{{ item.name }}
							<sockets :sockets="item.sockets"></sockets>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script type="text/javascript" src="vue.min.js"></script>
	<script type="text/javascript" src="armor.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59242016-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-59242016-3');
	</script>
</body>
</html>