body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#note {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#layout {
  background: #000;
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 10;
  padding: 10px 4px;
  border-radius: 8px;
  color: white;
}