body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #fafafa;
  font-family: sans-serif;
}

#main {
  width: 940px;
  height: 480px;
  margin: 20px 0;
  cursor: pointer;
  background: #ffffff;
}

#mainContainer {
  position: relative;
}
#mainContainer::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background: black;
}

label {
  background: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 4px;
  cursor: pointer;
}

label:hover {
  background: #f0f0f0;
}
